<?xml version="1.0"?>
<config>
   <sections>
        <payment>
            <groups>
                <coingate translate="label" module="paygate">
                    <label>Cryptocurrency payments via CoinGate</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment>
                        Having trouble? View common issues: https://developer.coingate.com/docs/issues or contact support@coingate.com
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <desc translate="label">
                            <label>Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </desc>
                        <api_auth_token translate="label">
                            <label>API Auth Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_auth_token>
                        <receive_currency translate="label">
                            <label>Receive Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>coingate/receiveCurrencies</source_model>
                            <tooltip>Choose the currency in which your payouts will be made (BTC, EUR or USD). For real-time EUR or USD settlements, you must verify as a merchant on CoinGate. Do not forget to add your Bitcoin address or bank details for payouts on your CoinGate account.</tooltip>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </receive_currency>
                        <test translate="label">
                            <label>Test mode?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <tooltip>Live (coingate.com) is for production and Sandbox (sandbox.coingate.com) is for testing purposes. Please note that for "Test mode" you must generate separate API credentials on sandbox.coingate.com. API credentials generated on coingate.com will only work in Live mode.</tooltip>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test>
                        <sort_order translate="label">
                           <label>Sort Order</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>7</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>0</show_in_store>
                        </sort_order>
                        <invoice>
                            <label>Payment Statuses</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                      </invoice>
                      <invoice_paid translate="label">
                          <label>Paid</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_order_status</source_model>
                          <sort_order>120</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </invoice_paid>
                      <invoice_canceled translate="label">
                          <label>Canceled</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_order_status</source_model>
                          <sort_order>130</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </invoice_canceled>
                      <invoice_expired translate="label">
                          <label>Expired</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_order_status</source_model>
                          <sort_order>140</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </invoice_expired>
                      <invoice_invalid translate="label">
                          <label>Invalid</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_order_status</source_model>
                          <sort_order>150</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </invoice_invalid>
                      <invoice_refunded translate="label">
                          <label>Refunded</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_order_status</source_model>
                          <sort_order>150</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                      </invoice_refunded>
                    </fields>
                </coingate>
            </groups>
        </payment>
    </sections>
</config>
